@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
	--color-amarillo:#F4BC1C;
	--color-rojo:#CE0004;
	--rojo-botones:#680001;
	--color-azul: #2B89DC;
	--color-gris: #868686;
	--gris-oscuro:#4E4E4E;
}
body{
	font-family: "Outfit", sans-serif;
	color: #fff;
	background-color: #000;
}

header{
	background-color: #000;
	padding: 15px 5%;
	position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000
}

header li{
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin: 0 10px;
}

header .navbar-brand{
	margin-right: 0;
}

header .navbar-nav{
	align-items: center;
}

#hero{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-blend-mode: darken;
	background-color: rgba(0,0,0,0.40);
	height: 100%;
	text-align: center;
	padding-bottom: 10%;
	
}
.fondo-home{
	background-image: url("../img/hero-home.jpg");
}

.fondo-biografia{
	background-image: url("../img/hero-biografia.jpg");
}

.fondo-ecos{
	background-image: url("../img/hero-ecos.jpg");
	aspect-ratio: 2 / 1;
}

.titulo{
	font-size: 64px;
	margin-top: 42%;
	font-weight: 600;
	text-shadow: 10px 10px 25px #212121;
	letter-spacing: 0.02em;
}

.titulo-alt{
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.section{
	background-color: #000000;
	padding: 10% 0 50px;
}

#ecos img,
#ecos-2 img{
	display: block;
	margin: 0 auto;
}


.subtitulo{
	text-align: center;
	padding-bottom: 80px;
	font-size: 48px;
}

#explora-d h3{
	text-align: center;
	padding: 45px 0 15px;
	font-size: 36px;
}

#explora-d h4{
	text-align: center;
	font-weight: 300;
}

#explora-d p{
	text-align: center;
	font-style: italic;
	font-size: 24px;
	padding: 10px 0 25px;
	font-weight: 300;
}

#explora-n{
	padding-bottom: 7%;
}

.cuadros{
	background-color: var(--color-amarillo);
	padding: 45px;
	height: 95%;
}

.cuadros h3{
	color: #000;
	font-weight: 600;
}

.cuadros h4{
	font-style: italic;
	color: var(--gris-oscuro);
	font-size: 18px;
	font-weight: 500;
}

.cuadros p{
	color: #000;
}



footer{
	background-color: #111111;
	text-align: center;
	padding: 4% 0;
	
}

.icono-footer{
	color: #fff;
	font-size: 20px;
	padding: 0px 20px;
	justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 24px;
}

footer p{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 14px;
}

.boton{
	text-align: center;
}

.btn-secondary{
	border-radius: 40px;
	border: 0;
	padding: 20px 10%;
	background-color: var(--color-rojo);
	text-transform: uppercase;
	font-weight: 600;
}

.btn-secondary:hover{
	background-color: var(--rojo-botones);
}

.boton-home{
	margin-top: 12%;
}

.btn-primary{
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	margin-top: 10%;
	border-radius: 40px;
	border: 0;
	padding: 20px 10%;
	background-color: var(--color-amarillo)
}

.btn-primary:hover{
	background-color: #C58A0B;
	color: #000;
}

.destacar{
	color: var(--color-amarillo);
	text-align: center;
	margin-top: -5%;
	letter-spacing: 0.1em;
	font-weight: 600;
	font-size: 24px;
	padding: 3% 20% 0;
}

.bio-negro, .bio-amarillo{
	padding: 5% 0;
}

.bio-negro p,
.bio-amarillo p,
#ahivamos p{
	font-weight: 300;
	line-height: 2;
	font-size: 20px;
	letter-spacing: 0.1em;
}

#bio-2{
	background-color: var(--color-amarillo);
	color: #000;
}

.bio-amarillo img{
	border: 20px solid #000;
}

.bio-amarillo span{
	font-weight: 700;
	font-size: 30px;
}

#bio-2 h4{
	font-weight: 700;
	text-align: center;
	font-size: 46px;
	padding-top: 4%;
}

#ecos-info{
	padding: 7% 17% 5%;
	text-align: center;
	font-weight: 300;
	letter-spacing: 0.1em;
	font-size: 18px;
	line-height: 2;
}

#ecos-info h5{
	text-align: center;
	font-style: italic;
	font-weight: 200;
	letter-spacing: 0;
	font-size: 18px;
	padding-bottom: 25px;
}

.soda-late{
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: 700;
	font-size: 32px;
	padding: 2% 0;
}

#discografia li,
#tienda li{
	text-transform: uppercase;
	padding-right: 40px;
}

.albumes{
	letter-spacing: 1px;
}

.albumes h3{
	color: var(--color-azul);
	padding: 20px 0 0;
	font-weight: 600;
}

.albumes p{
	color: var(--color-gris);
	font-style: italic;
	font-weight: 200;
}

.albumes img{
	opacity: 0.8;
	
}

.albumes img:hover{
	opacity: 1;
}

#boletin{
	padding-top: 7%;
	padding-bottom: 7%;
}

.registrate{
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0.02em;
}

.aviso{
	font-size: 12px;
	font-weight: 200;
}


.formulario{
	border-radius: 0;
	border: 2px solid var(--color-gris);
	background-color: transparent;
	color: #fff;
}

.boton-f{
	padding: 8px;
	border: 2px solid var(--color-gris);
	background-color: transparent;
	color: #fff;
}

.boton-f:hover{
	background-color: #fff;
	color: #000;
}

#nombre::placeholder {
	color: var(--color-gris);
}

.logros-cuadro{
	padding: 0 20%;
	background-color: #fff;
	text-align: center;
	color: #000;
	height: 200px;
}

.page-link{
	background-color: transparent;
	border: 0;
}

.pagination .page-item .disabled{
	background-color: transparent;
	border: 0;
}


.pagination{
	margin-top: 30px;
	
}

#albumes-soda.albumes h3,
#libros.albumes h3,
#camisas.albumes h3{
	color: var(--color-amarillo);
	padding: 20px 0 0;
	font-weight: 600;
}

#libros img,
#camisas img{
	height: 75%;
	width: 100%;
	object-fit: cover;
}

.cuadros-noticias{
	background-color: var(--color-amarillo);
	padding: 45px;
}

.cuadros-noticias img{
	aspect-ratio: 4 / 3;
	object-fit: cover;
	filter: brightness(80%);
}

.cuadros-noticias p,
.cuadros-noticias-l p{
	color: var(--gris-oscuro);
	font-style: italic;
	font-weight: 500;
	margin-top: 20px;
	font-size: 18px;
}

.cuadros-noticias h2,
.cuadros-noticias-l h2{
	color: #000;
	font-weight: 700;
}

.cuadros-noticias h3,
.cuadros-noticias-l h3{
	color: #000;
	font-weight: 400;
	margin-top: 10px;
	font-size: 18px;
	letter-spacing: 1px;
	
}

.cuadros-noticias-l{
	padding: 45px;
	background-color: var(--color-amarillo);
	margin: 50px 0;
}

.cuadros-noticias-l img{
	aspect-ratio: 16 / 9;
	object-fit: cover;
	filter: brightness(80%);
}

.cuadros-noticias:hover,
.cuadros-noticias-l:hover,
.cuadros:hover{
	background-color: #FFC037;
}

#noticias a,
#noticias a:hover,
#explora-n a,
#explora-n a:hover{
    text-decoration: none !important;
}

#explora-d img{
	opacity: 0.8;
	
}

#explora-d img:hover{
	opacity: 1;
}


@media (min-width:800px) and (max-width:1200px) {
	
	header .navbar-brand{
		margin-bottom: 10px;
	}
	
	.destacar{
		margin-top: 0;
		padding: 5%;
	}
	
	.bio-negro .mt-5{
		margin-top: -20px !important;
	}
	
	.bio-negro .text-end,
	.bio-negro .text-start,
	.bio-amarillo .text-end,
	.bio-amarillo .text-start{
		text-align: center !important;
	}
	
	.bio-negro p,
	.bio-amarillo p{
		text-align: center;
		padding: 0 10%;
	}
	
	.bio-negro .text-end img,
	.bio-negro .text-start img,
	.bio-amarillo .text-end img,
	.bio-amarillo .text-start img{
		margin: 40px 0;
	}
	
	.rectangulo{
		object-fit: cover;
		width: 100%;
		height: 500px;
	}
	
	#ahivamos p{
		padding-bottom: 5%;
	}
	
	#boletin .titulo-alt{
		font-size: 46px;
		padding: 7% 0;
	}
	
}


@media (max-width:800px) {
	
	.titulo{
		font-size: 40px;
		padding: 0 45px;
	}
	
	#ecos img{
		margin: 20px auto;
	}
	
	header .navbar-brand{
		margin-bottom: 10px;
	}
	
	.btn-secondary{
		padding: 20px 5%;
		font-size: 16px;
	}
	
	.subtitulo{
		font-size: 36px;
	}
	
	#explora-d h3{
		font-size: 26px;
	}

	#explora-d h4{
		font-size: 22px;
	}

	#explora-d p{
		font-size: 22px;
	}	
	
	#explora-n .subtitulo{
		padding-bottom: 25px;
	}
	
	.cuadros{
		padding: 25px;
	}
	
	#ecos-2 img{
		margin: 20px auto 0;
	}
	
	#ecos-info{
		padding: 0 10% 15%;
	}
	
	.destacar{
		margin-top: 0;
		font-size: 20px;
		padding: 10%;
	}
	
	.bio-negro .mt-5{
		margin-top: -20px !important;
	}
	
	.bio-negro .text-end,
	.bio-negro .text-start,
	.bio-amarillo .text-end,
	.bio-amarillo .text-start{
		text-align: center !important;
	}
	
	.bio-negro p,
	.bio-amarillo p{
		text-align: center;
		padding: 0 10%;
		font-size: 18px;
	}
	
	.bio-negro .text-end img,
	.bio-negro .text-start img,
	.bio-amarillo .text-end img,
	.bio-amarillo .text-start img{
		margin: 40px 0;
	}
	
	.bio-amarillo span{
		font-size: 24px;
	}
	
	#bio-2 h4{
		font-size: 32px;
	}
	
	.titulo-alt{
		font-size: 36px;
		text-align: center;
	}
	
	#discografia nav,
	#tienda nav{
		justify-content: center;
		text-align: center;
		padding-right: 0 !important;
	}
	
	#discografia .navbar-dark .navbar-nav .nav-link,
	#tienda .navbar-dark .navbar-nav .nav-link {
		padding: 5px 0px;
	}
	
	#discografia li,
	#tienda li{
	text-transform: uppercase;
	padding-right: 0;
	}
	
	#albumes-estudio article,
	#albumes-vivo article,
	#albumes-soda article,
	#libros article,
	#camisas article,
	#ahivamos article{
		text-align: center;
	}
	
	.albumes h3{
	font-size: 30px;
	margin: 25px 0;
	}
	
	.albumes h4{
	margin-top: -10px;
	}
	
	.albumes h5{
	margin-bottom: 15px;
	}
	
	.carousel .carousel-item {
  	height: 250px;
	}
	
	.carousel-item img {
    min-height: 250px;
	}
	
	#slides,
	#libros{
		padding-top: 0 !important;
	}
	
	#ahivamos h1{
		padding: 10% 0 3% !important;
	}
	
	#ahivamos .w-75{
		width: 50% !important;
	}
	
	#ahivamos .titulo-alt{
		font-size: 44px !important;
	}
	
	#ahivamos p{
		padding-bottom: 10%;
	}
	
	#boletin .titulo-alt{
		font-size: 30px;
		text-align: left;
		padding: 7% 0;
	}
	
	.registrate{
		font-size: 20px;
	}
	
	.aviso{
		font-size: 15px;
	}
	
	footer{
		margin-top: 10%;
		padding: 15% 0;
	}


}