@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
	--color-amarillo:#F4BC1C;
	--color-rojo:#CE0004;
	--rojo-botones:#680001;
	--gris-form:#B8B8B8;
	--color-azul: #2B89DC;
}
body{
	font-family: "Outfit", sans-serif;
	color: #fff;
	background-color: #000;
}

header{
	background-color: #000;
	padding: 15px 5%;
	position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000
}

header li{
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin: 0 10px;
}

header .navbar-brand{
	margin-right: 0;
}

header .navbar-nav{
	align-items: center;
}

#hero{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-blend-mode: darken;
	background-color: rgba(0,0,0,0.40);
	height: 100%;
	text-align: center;
	padding-bottom: 10%;
	
}
.fondo-home{
	background-image: url("../img/hero-home.jpg");
}

.fondo-biografia{
	background-image: url("../img/hero-biografia.jpg");
}

.fondo-ecos{
	background-image: url("../img/hero-ecos.jpg");
	aspect-ratio: 2 / 1;
}

.titulo{
	font-size: 64px;
	margin-top: 42%;
	font-weight: 600;
	text-shadow: 10px 10px 25px #212121;
	letter-spacing: 0.02em;
}

.titulo-alt{
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.section{
	background-color: #000000;
	padding: 10% 0 50px;
}

#ecos img{
	display: block;
	margin: 0 auto;
}


.subtitulo{
	text-align: center;
	padding-bottom: 80px;
	font-size: 48px;
}

#explora-d h3{
	text-align: center;
	padding: 45px 0 15px;
	font-size: 36px;
}

#explora-d h4{
	text-align: center;
	font-weight: 300;
}

#explora-d p{
	text-align: center;
	font-style: italic;
	font-size: 24px;
	padding: 10px 0 25px;
	font-weight: 300;
}

#explora-n{
	padding-bottom: 7%;
}

.cuadros{
	background-color: var(--color-amarillo);
	padding: 45px;
	height: 95%;
}

.cuadros h3{
	color: #000;
	font-weight: 600;
}

.cuadros h4{
	font-style: italic;
	color: #707070;
	font-size: 18px;
	font-weight: 300;
}

.cuadros p{
	color: #000;
}

.cuadros a{
	text-decoration: none;
}


footer{
	background-color: #111111;
	text-align: center;
	padding: 4% 0;
	
}

.icono-footer{
	color: #fff;
	font-size: 20px;
	padding: 0px 20px;
	justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 24px;
}

footer p{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 14px;
}

.boton{
	text-align: center;
}

.btn-secondary{
	border-radius: 40px;
	border: 0;
	padding: 20px 10%;
	background-color: var(--color-rojo);
	text-transform: uppercase;
	font-weight: 600;
}

.btn-secondary:hover{
	background-color: var(--rojo-botones);
}

.boton-home{
	margin-top: 12%;
}

.btn-primary{
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	margin-top: 10%;
	border-radius: 40px;
	border: 0;
	padding: 20px 10%;
	background-color: var(--color-amarillo)
}

.btn-primary:hover{
	background-color: #C58A0B;
	color: #000;
}

.destacar{
	color: var(--color-amarillo);
	text-align: center;
	margin-top: -5%;
	letter-spacing: 0.1em;
	font-weight: 600;
	font-size: 24px;
	padding: 3% 20% 0;
}

.bio-negro, .bio-amarillo{
	padding: 5% 0;
}

.bio-negro p,
.bio-amarillo p{
	font-weight: 300;
	line-height: 2;
	font-size: 20px;
	letter-spacing: 0.1em;
}

#bio-2{
	background-color: var(--color-amarillo);
	color: #000;
}

.bio-amarillo img{
	border: 20px solid #000;
}

.bio-amarillo span{
	font-weight: 700;
	font-size: 30px;
}

#bio-2 h4{
	font-weight: 700;
	text-align: center;
	font-size: 46px;
	padding-top: 4%;
}

#ecos-info{
	padding: 7% 17% 5%;
	text-align: center;
	font-weight: 300;
	letter-spacing: 0.1em;
	font-size: 18px;
	line-height: 2;
}

#ecos-info h5{
	text-align: center;
	font-style: italic;
	font-weight: 200;
	letter-spacing: 0;
	font-size: 18px;
	padding-bottom: 25px;
}

.soda-late{
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: 700;
	font-size: 32px;
	padding: 2% 0;
}

#discografia li{
	text-transform: uppercase;
	padding-right: 40px;
}

#discografia .form-control{
	border-radius: 0;
	background-color: transparent;
	text-align: end;
	font-size: 18px;
	color: #FFF;
	font-weight: 300;
	padding-right: 0
	
}


#albumes-e-1 h3{
	color: var(--color-azul);
}

#albumes-e-2 h3{
	color: var(--color-azul);
}
